.forum{

}

input::selection{
	background: rgb(188, 188, 255);;
}

.forum .thread-post{
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
}

.forum .thread-post::selection{
	background: rgba(255, 193, 113, 0.88);
}

#forum{
	padding-top: 150px;
}

.forum li{
	list-style: none;
}

.forum .forum-click{
	background: white;
	color: black;
	cursor: pointer;
	padding: 15px;
	border-bottom: 1px black solid;
}

.forum .forum-click:hover{
	background: rgb(255, 255, 202);
}

.forum .thread-post{
	background: white;
	color: black;
	border-bottom: 1px black solid;
	text-align: left;
}

.forum .thread-post span{
}

.forum span.user-name img{
	margin-right: 10px;
}

.forum .thread-post span.user-name{
	background: rgb(177, 218, 182);
	display: inline-block;
	min-width: 150px;
}

.forum .title-block{
	background: rgb(230, 231, 255);
	color: black;
	padding: 15px;
	text-transform: UPPERCASE;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 3px black solid;
}

.forum input, .forum textarea{
	color: black;
}

.forum .form-field{
	padding: 10px;
}

.forum .form-field label{
	margin-right: 10px;
}

.forum .form-field input{
	width: 50%;
	min-height: 35px;
	padding: 0 10px;
	border-radius: 10px;
}

.forum .users .user-summary{
	display:inline-block;
	margin: 15px;
	padding: 10px;
	background: rgb(42, 40, 40);
	border-radius: 10px;
	vertical-align: top;
}

.forum .profile{
	padding-top: 20px;
	background: rgb(42, 40, 40);
	border-radius: 10px;
}

.forum .users .user-summary img, .forum .profile img{
	border-radius: 10px;
	margin: 5px;
}


