.forum{


}

.forum li{
	list-style: none;
}

.forum .forum-click{
	background: white;
	color: black;
	cursor: pointer;
	padding: 15px;
	border-bottom: 1px black solid;
}

.forum .forum-click:hover{
	background: rgb(255, 255, 202);
}

.forum input{
	color: black;
}

.forum .form-field{
	padding: 10px;
}

.forum .form-field label{
	margin-right: 10px;
}

.forum .form-field input{
	width: 50%;
	min-height: 35px;
	padding: 0 10px;
	border-radius: 10px;
}
